.container {
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.description {
	text-align: center;
}

.form {
	gap: 24px;
}

.footerSection {
	flex-direction: column;
	font-size: 14px;
	line-height: 20px;
	gap: 4px;
	width: 100%;
}

.footerSection > a {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	color: var(--text-muted);
	width: 100%;
}

.footerSection > a:hover {
	text-decoration: underline;
	color: var(--primary-color);
}

.footerSection > a > svg {
	color: inherit;
	position: inherit;
	width: 14px;
	height: 14px;
}

.sheildIcon {
	padding: 4px;
	border-radius: 8px;
	background-color: var(--secondary-color);
	align-self: flex-start;
}

.sheildIcon > svg {
	position: inherit;
	width: 32px;
	height: 32px;
	fill: var(--primary-color);
	stroke: var(--secondary-color);
}

.cta {
	max-width: 380px;
	padding: 24px 12px;
	gap: 16px;
	font-size: 12px;
	font-weight: 200;
}

.cta > div > p {
	color: var(--text-muted);
}
