*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #10B981;
  --secondary-color: #07714d;
  --primary-foreground: #03412c;
  --primary-background-color: #0A0A0A;
  --secondary-background-color: #1C1B1B;
  --text-primary: #E5E2E1;
  --text-muted: #71717A;
}

body {
  background-color: var(--primary-background-color);
  font-family: 'Manrope', sans-serif;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  user-select: none;
  -webkit-user-select: none;
}

a {
	color: var(--primary-color);
	text-decoration: none;
	transition: color 0.5s ease-in-out;
}

a:hover {
	color: var(--secondary-color);
}